.statistics {
    background-color: #146775;
    height: auto;
    width: 350px;
    margin: 10vh auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0f1629;
  }
  
  .title {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
    margin: 0;
  }
  
  .stat {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
    background-color: #fcfd97;
    border-radius: 5px;
    padding: 10px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 5%;
  }
  
  .item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .percentage {
    font-size: 25px;
  }